In [68]:
import boto3
from boto.s3.connection import S3Connection
import boto
from boto.s3.key import Key
import sys
import os
import json
import pandas as pd
sys.path.insert(0,os.path.abspath('..'))

In [9]:
from utils.credentials import access_key, secret_access_key

In [56]:
client = boto3.client('s3')

conn = boto.s3.connect_to_region('us-east-2',
       aws_access_key_id=access_key,
       aws_secret_access_key=secret_access_key,
       is_secure=True,
       calling_format = boto.s3.connection.OrdinaryCallingFormat(),
       )

In [13]:
bucket = conn.get_bucket('persproj')

In [17]:
[x.name for x in bucket.list() if '.json' in x]

['business.json',
 'checkin.json',
 'photo.json',
 'tip.json',
 'user.json',
 'yelp_dataset.tar']

In [63]:
x = bucket.get_key('business.json')

In [76]:
json_str = x.get_contents_as_string(encoding='utf-8')

In [91]:
import boto3
import json

s3 = boto3.resource('s3', aws_access_key_id=access_key,
       aws_secret_access_key=secret_access_key)

In [103]:
def read_json_from_s3(s3_bucket_name, file_name):
    content_object = s3.Object(s3_bucket_name, file_name)
    file_content = content_object.get()['Body'].read().decode('utf-8')
    data = [json.loads(str(item)) for item in file_content.strip().split('\n')]
    df = pd.DataFrame(data)
    return df

In [104]:
%%time
business_df = read_json_from_s3('persproj','business.json')
print('business_df finished' )
checkin_df = read_json_from_s3('persproj','checkin.json')
print('checkin_df finished' )
photo_df = read_json_from_s3('persproj','photo.json')
print('photo_df finished' )
tip_df = read_json_from_s3('persproj','tip.json')
print('tip_df finished' )
user_df = read_json_from_s3('persproj','user.json')
print('user_df finished' )

business_df finished
checkin_df finished
photo_df finished
tip_df finished
user_df finished
CPU times: user 2min 11s, sys: 4min 38s, total: 6min 49s
Wall time: 31min 43s

In [116]:
business_df.to_csv('s3://persproj/data/business_df.csv', index=False)

In [117]:
%%time
checkin_df.to_csv('s3://persproj/data/checkin_df.csv', index=False)
print('checkin_df finished')
photo_df.to_csv('s3://persproj/data/photo_df.csv', index=False)
print('photo_df finished')
tip_df.to_csv('s3://persproj/data/tip_df.csv', index=False)
print('tip_df finished')
user_df.to_csv('s3://persproj/data/user_df.csv', index=False)
print('user_df finished')

checkin_df finished
photo_df finished
tip_df finished
user_df finished
CPU times: user 2min 41s, sys: 2min 1s, total: 4min 42s
Wall time: 21min 39s

In [134]:
(business_df[business_df['categories'].str.contains('Restaurants', na=False)]
.groupby('state').count())

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars
state,,,,,,,,,,,,,
AB,3035,2909,3035,3035,3035,2326,3035,3035,3035,3035,3035,3035,3035
AL,1,0,1,1,1,1,1,1,1,1,1,1,1
AR,1,1,1,1,1,1,1,1,1,1,1,1,1
AZ,11465,11207,11465,11465,11465,8877,11465,11465,11465,11465,11465,11465,11465
BC,1,1,1,1,1,1,1,1,1,1,1,1,1
CA,1,1,1,1,1,0,1,1,1,1,1,1,1
CON,1,1,1,1,1,0,1,1,1,1,1,1,1
FL,1,1,1,1,1,1,1,1,1,1,1,1,1
IL,672,649,672,672,672,483,672,672,672,672,672,672,672
NC,4326,4178,4326,4326,4326,3379,4326,4326,4326,4326,4326,4326,4326
NE,1,1,1,1,1,1,1,1,1,1,1,1,1
NM,1,1,1,1,1,1,1,1,1,1,1,1,1
NV,7783,7594,7783,7783,7783,6030,7783,7783,7783,7783,7783,7783,7783
NY,12,11,12,12,12,11,12,12,12,12,12,12,12
OH,5522,5320,5522,5522,5522,4242,5522,5522,5522,5522,5522,5522,5522
ON,14831,14142,14831,14831,14831,11131,14831,14831,14831,14831,14831,14831,14831
PA,4001,3849,4001,4001,4001,3079,4001,4001,4001,4001,4001,4001,4001
QC,5622,5268,5622,5622,5622,4134,5622,5622,5622,5622,5622,5622,5622
SC,384,368,384,384,384,278,384,384,384,384,384,384,384
TX,1,1,1,1,1,1,1,1,1,1,1,1,1
VA,1,0,1,1,1,1,1,1,1,1,1,1,1
VT,1,1,1,1,1,1,1,1,1,1,1,1,1
WA,1,1,1,1,1,1,1,1,1,1,1,1,1
WI,1703,1654,1703,1703,1703,1395,1703,1703,1703,1703,1703,1703,1703
XGM,1,0,1,1,1,0,1,1,1,1,1,1,1
XWY,2,2,2,2,2,1,2,2,2,2,2,2,2

In [138]:
tip_df['date'].max()

'2018-11-15 08:39:36'

In [139]:
tip_df['date'].min()

'2009-04-16 02:49:02'

In [140]:
checkin_df.head()

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [127]:
photo_df.head()

              business_id caption   label                photo_id
0  rcaPajgKOJC2vo_l3xa42A          inside  MllA1nNpcp1kDteVg6OGUw
1  Kn23LDd740SBVJ7mum0fwg          inside  YjxBE88Bf6CmTEF2LP1UNA
2  ZkGDCVKSdf8m76cnnalL-A            food  1f7izSjM0WjkDRIVbPy1yw
3  bF8gv7k_rwZtiDLP2ZB04w          inside  NcSlcDTEEeOaixotOPk-rA
4  50Anorn0DJXFhBr9a9_gHQ          inside  5IiIo5UKEW0lWqZ6sWrY_A

In [144]:
photo_df['label'].unique()

array(['inside', 'food', 'outside', 'drink', 'menu'], dtype=object)

- Another reason for restaurant closure is high rent charges. Adding rent pricing per region could help explain more restaurant closures.
- A change in population demographics in certain areas of a city can increase or decrease traffic to some restaurants.

### Sources for yelp dataset problems:

https://towardsdatascience.com/using-yelp-data-to-predict-restaurant-closure-8aafa4f72ad6